
/* Design */
.splash_cards,
.splash_cards *,
.splash_cards::before,
.splash_cards::after {
  box-sizing: border-box;
}


.splash_cards{
  max-width: 1170px;
  margin: 0 auto;
}

.card_image {
  height: 184px;
  overflow: hidden;
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
}

.splash_cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.splash_cards .btn {
  color: #333;
  padding: 0.3rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: auto;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* background: white; */
  margin-left: 1rem;
  margin-bottom: 1rm;
}

.splash_cards .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
  background-color: #eee;
}

.splash_cards .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.splash_cards .cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .splash_cards  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .splash_cards  .cards_item {
    width: 33.3333%;
  }
}

.splash_cards .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 10em;
}

.splash_cards .card_content {
  padding: .5rem;
  /* background: rgb(126,168,164);
  background: linear-gradient(173deg, rgba(126,168,164,1) 0%, rgba(85,121,173,1) 100%); */
  height: 100%;
}

.splash_cards .card_content p{
  /* min-height: 140px */
}

.splash_cards h2 {
    margin: 0;
    margin-left: 1.1rem;
    line-height: 1.1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.splash_cards .card_title a{
    /* color: #ffffff; */
    font-size: 1rem!important;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
    text-decoration: none;
    color: #344C70;
}

.splash_cards .card_text {
  /* color: #ffffff; */
  font-size: .95rem;
  line-height: 1.2rem;
  margin-bottom: .5rem;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.splash_cards .card_text p {
  margin-bottom: .5rem;
}

.card_tag-container {
  margin: .5rem 0 1rem 1.1rem;
  min-height: 20px;
}

.card_tag-container .badge {
  color: inherit;
  padding-left: 0px;
  padding-right: .5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.cargan {
  font-family: Cargan;
}
