.masthead .nav > li > a, .site-footer .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .site-footer .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: #333!important;
}


body .masthead .navigation .nav-pills li a:hover, .site-footer .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .site-footer .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a, .site-footer .navigation .nav-pills li.active a {
    background-color: #eee!important;
}


.account-masthead {
    min-height: 30px;
    color: #333;
    background-color: #003647!important
}

/* for ckan 3 */

.masthead .main-navbar ul li a {
  color: #333!important;
}
.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
  background-color: #eee!important;
}

a.logo:hover {
  text-decoration: none;
}