{% extends "package/base.html" %}

{% set default_group_type = h.default_group_type('group') %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}



{% block secondary %}
  <aside class="d-none"></aside>
{% endblock %}


{% block primary %}
  <div class="primary new-class2 col-xs-12 pe-md px-md-0" role="main">
    <article class="module">

      {% if h.check_access('package_update', {'id':pkg.id }) %}
      <div class="text-end">
        {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light', icon='wrench' %}
      </div>
      {% endif %}

      {% block page_header %}{% endblock %}
      <div class="module-content">
        {% if self.page_primary_action() | trim %}
          <div class="page_primary_action">
            {% block page_primary_action %}{% endblock %}
          </div>
        {% endif %}
        {% block primary_content_inner %}
        {% endblock %}
      </div>
    </article>
  </div>
{% endblock %}
