{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.publisher %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Publisher") }}</th>
      <td class="dataset-details">{{ pkg_dict.publisher }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.contributor %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contributor") }}</th>
      <td class="dataset-details">{{ pkg_dict.contributor }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.contributor %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contributor") }}</th>
      <td class="dataset-details">{{ pkg_dict.contributor }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.contributor %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contributor") }}</th>
      <td class="dataset-details">{{ pkg_dict.contributor }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.ror_id %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("ROR ID") }}</th>
      <td class="dataset-details">{{ pkg_dict.ror_id }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.orcid_id %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("ORCID ID") }}</th>
      <td class="dataset-details">{{ pkg_dict.orcid_id }}</td>
    </tr>
  {% endif %}
{% endblock %}
