
<section class="additional-info">
  <h2 class="mt-3">{{ _('Additional Info') }}</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th scope="col" class="fw-bold ps-0">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
      {% if pkg_dict.url %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _('Source') }}</th>
          {% if h.is_url(pkg_dict.url) %}
            <td class="dataset-details" property="foaf:homepage">
              <a href="{{ pkg_dict.url }}" rel="foaf:homepage" target="_blank">
                {{ pkg_dict.url }}
              </a>
            </td>
          {% else %}
            <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
          {% endif %}
        </tr>
      {% endif %}
      
      {% if pkg_dict.author  %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("Author(s)") }}</th>
          <td class="dataset-details" property="dc:creator">{{ h.format_orcid(pkg_dict.author) | safe }}</td>
        </tr>
      {% endif %}
      
      {% if pkg_dict.maintainer%}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
        </tr>
      {% endif %}
      
      {% if pkg_dict.version %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("Version") }}</th>
          <td class="dataset-details">{{ pkg_dict.version }}</td>
        </tr>
      {% endif %}
      
      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("State") }}</th>
          <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
        </tr>
      {% endif %}
      {% if pkg_dict.metadata_modified %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("Last Updated") }}</th>
          <td class="dataset-details">
              {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
          </td>
        </tr>
      {% endif %}
      {% if pkg_dict.metadata_created %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("Created") }}</th>
      
          <td class="dataset-details">
              {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
          </td>
        </tr>
      {% endif %}
      
      
      
      
      
      {% block extras %}
      
      {% if pkg_dict.subtitle %}
      <tr>
        <th scope="row" class="dataset-label ps-0">{{ _("Subtitle") }}</th>
        <td class="dataset-details">{{ pkg_dict.subtitle }}</td>
      </tr>
      {% endif %}
        {% if pkg_dict.publisher %}
          <tr>
            <th scope="row" class="dataset-label ps-0">{{ _("Publisher") }}</th>
            <td class="dataset-details">{{ pkg_dict.publisher }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.funding %}
          <tr>
            <th scope="row" class="dataset-label ps-0">{{ _("Funding") }}</th>
            <td class="dataset-details">{{ pkg_dict.funding }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.contributor %}
          <tr>
            <th scope="row" class="dataset-label ps-0">{{ _("Contributor(s)") }}</th>
            <td class="dataset-details">{{ h.format_orcid(pkg_dict.contributor) | safe }}</td>
          </tr>
        {% endif %}
      
        {% if pkg_dict.ror_id %}
          <tr>
            <th scope="row" class="dataset-label ps-0">{{ _("ROR ID") }}</th>
            <td class="dataset-details">{{ pkg_dict.ror_id }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.in_language %}
        {% set lang_codes_to_names = {
          'en': 'English', 'es': 'Spanish', 'fr': 'French', 'de': 'German', 
          'it': 'Italian', 'pt': 'Portuguese', 'ru': 'Russian', 'zh': 'Chinese', 
          'ja': 'Japanese', 'ko': 'Korean', 'ar': 'Arabic', 'hi': 'Hindi', 
          'bn': 'Bengali', 'ms': 'Malay', 'pa': 'Punjabi', 'gu': 'Gujarati', 
          'ta': 'Tamil', 'te': 'Telugu', 'vi': 'Vietnamese', 'tr': 'Turkish', 
          'ur': 'Urdu', 'fa': 'Persian', 'sw': 'Swahili', 'nl': 'Dutch', 
          'sv': 'Swedish', 'no': 'Norwegian', 'da': 'Danish', 'fi': 'Finnish', 
          'pl': 'Polish', 'uk': 'Ukrainian', 'cs': 'Czech', 'sk': 'Slovak', 
          'hu': 'Hungarian', 'ro': 'Romanian', 'bg': 'Bulgarian', 'sr': 'Serbian', 
          'hr': 'Croatian', 'sl': 'Slovenian', 'lt': 'Lithuanian', 'lv': 'Latvian', 
          'et': 'Estonian', 'mt': 'Maltese', 'el': 'Greek', 'he': 'Hebrew', 
          'id': 'Indonesian', 'th': 'Thai', 'mn': 'Mongolian', 'ga': 'Irish', 
          'cy': 'Welsh', 'eu': 'Basque', 'is': 'Icelandic', 'mk': 'Macedonian', 
          'sq': 'Albanian', 'am': 'Amharic', 'km': 'Khmer', 'lo': 'Lao', 
          'my': 'Burmese', 'ne': 'Nepali', 'si': 'Sinhala', 'tl': 'Tagalog', 
          'ka': 'Georgian', 'uz': 'Uzbek', 'kk': 'Kazakh', 'hy': 'Armenian', 
          'az': 'Azerbaijani', 'ku': 'Kurdish', 'be': 'Belarusian', 'ky': 'Kyrgyz'
          } %}
          <tr>
            <th scope="row" class="dataset-label ps-0">{{ _("In Language") }}</th>
            <td class="dataset-details">
              {% set language_codes = pkg_dict.in_language.split(',') %}
              {% for code in language_codes %}
                {% set code_trim = code.strip() %}
                {% set out_str = lang_codes_to_names[code_trim].strip() if code_trim in lang_codes_to_names else code_trim.strip() %}
                {{ out_str }}{% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
          
      {% endif %}
      
        {% if pkg_dict.year_of_publication %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("Year of publication") }}</th>
          <td class="dataset-details">{{ pkg_dict.year_of_publication }}</td>
        </tr>
      {% endif %}
        {% if pkg_dict.type_of_publication %}
          <tr>
            <th scope="row" class="dataset-label ps-0">{{ _("Resource Type General") }}</th>
            <td class="dataset-details">{{ h.format_orcid(pkg_dict.type_of_publication) | safe }}</td>
          </tr>
        {% endif %}
      {% if pkg_dict.doi %}
        <tr>
          <th scope="row" class="dataset-label ps-0">{{ _("DOI") }}</th>
          <td class="dataset-details">{{ pkg_dict.doi }}</td>
        </tr>
      {% endif %}
      {% if pkg_dict.related_resources %}
        <tr>
          {% set rel = h.render_markdown(pkg_dict.related_resources) %}
          <th scope="row" class="dataset-label ps-0">{{ _("Related Resources") }}</th>
          <td class="dataset-details">{{ rel }}</td>
        </tr>
      {% endif %}

      {% endblock %}
      {% endblock %}
    </tbody>
  </table>
</section>


