{% ckan_extends %}

{% block package_metadata_author %}
</fieldset>
<script src="/js/vue.global.prod.min.js"></script>

<fieldset>
  <legend>Responsibilities</legend>
  <div class="no-margin-bottom">
    {{ form.input('author', label=_('Author(s)'), id='field-author', placeholder=_('Firstname Lastname of author'), value=data.author, error=errors.author, classes=['control-medium']) }}
  </div>
    <input id="a_holder" value="{{data.author}}" class="hidden" style="height: 1px">
    <div id="author_widget">
          <div v-for="(item, index) in authors" >
            <input type="text" :value="item" @input="update_item($event, index)" class="form-control control-medium">
            <a @click="remove_author(item)" style="cursor: pointer; color: #979797; display: block; margin-bottom: 8px; margin-left: 8px">remove</a> 
          </div>

          <input type="text" ref="newInput" placeholder="Firstname Lastname (0000-0000-0000-0000)" class="form-control dataset_dynamic_input"> 
          <span class="ds_notes" style="width: 90%">Add the authors ORCID in parantheses to link it.</span>
          <button @click.prevent.stop="add_new_author($event)" class="btn btn-primary btn-sm" style="transform: translateY(-2px);">add</button>

    </div>
      

    <script>
        const { createApp } = Vue
        document.getElementById("field-author").readOnly = true
        createApp({
          data() {
            return {
              authors: []
            }
          },
          mounted() {
            dat = document.getElementById("a_holder").value
            authors_from_database = dat.replaceAll('; ',';').split(";").filter(item => item);
            this.authors = authors_from_database
          },
          updated() {
            document.getElementById("field-author").value = this.authors.join('; ')
          },
          methods: {
            add_new_author(e){
              this.authors.push(this.$refs.newInput.value)
              this.$refs.newInput.value = ""
            },
            remove_author(item) {
              this.authors = this.authors.filter((t) => t !== item)
            },
            update_item(event, i){
              if (i !== -1 && event){
                this.authors[i] = event.target.value  !== "" ? event.target.value : "please fill"
              }
            }
          }
        }).mount('#author_widget')
      </script>


<script>



</script>
    <div class="no-margin-bottom">
      {{ form.input('contributor', label=_('Contributor'), id='field-contributor', placeholder=_('Firstname Lastname of person who contributed to this work'), value=data.contributor, error=errors.contributor, classes=['control-medium']) }} 
    </div>
    
    <input id="c_holder" value="{{data.contributor}}" class="hidden" style="height: 1px">
    <div id="contributor_widget">
          <div v-for="(item, index) in contributors" >
            <input type="text" :value="item" @input="update_item($event, index)" class="form-control control-medium">
            <a @click="remove_contributor(item)" style="cursor: pointer; color: #979797; display: block; margin-bottom: 8px; margin-left: 8px">remove</a> 
          </div>
         
          <input type="text" ref="newContributorInput" placeholder="Firstname Lastname (0000-0000-0000-0000)" class="form-control dataset_dynamic_input"> 
          <span class="ds_notes" style="width: 90%">Add the contributor ORCID in parantheses to link it.</span>
          <button @click.prevent.stop="add_new_contributor($event)" class="btn btn-primary btn-sm" style="transform: translateY(-2px);">add</button>
        
     </div>

    <script>
      document.getElementById("field-contributor").readOnly = true
      createApp({
        data() {
          return {
            contributors: []
          }
        },
        mounted() {
          dat = document.getElementById("c_holder").value
          contributors_from_database = dat.replaceAll('; ',';').split(";").filter(item => item);
          this.contributors = contributors_from_database
        },
        updated() {
          document.getElementById("field-contributor").value = this.contributors.join('; ')
        },
        methods: {
          add_new_contributor(e){
            this.contributors.push(this.$refs.newContributorInput.value)
            console.log(this.$refs.newContributorInput.value)
            console.log(this.contributors.join('; '))
            this.$refs.newContributorInput.value = ""
          },
          remove_contributor(item) {
            this.contributors = this.contributors.filter((t) => t !== item)
          },
          update_item(event, i){
            if (i !== -1 && event){
              this.contributors[i] = event.target.value  !== "" ? event.target.value : "please fill"
            }
          }
        }
      }).mount('#contributor_widget')
    </script>

    {{ form.input('ror_id', label=_('ROR ID (of organization)'), id='field-ror_id', placeholder=_('https://ror.org/041qv0h25'), value=data.ror_id, error=errors.ror_id, classes=['control-medium']) }}
    {% endblock %}

    {% block package_metadata_fields_maintainer %}

    {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Firstname Lastname of person that maintains this dataset'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

      {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('max.mustermannk@dainst.de (currently only one E-mail address supported!)'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
      <span class="ds_notes" style="transform: translateY(-30px);">This E-Mail will be used to contact the person who is responsible for the dataset.</span>

    {% endblock %}

    {% block custom_fields %}
    {{ form.input('publisher', label=_('Publisher'), id='field-publisher', placeholder=_('Deutsches Archäologisches Institut'), value=(data.publisher if data.publisher else _('Deutsches Archäologisches Institut')), error=errors.publisher, classes=['control-medium']) }}
    {{ form.checkbox('agree', label=_('I have read and agree to the <a href="/help" target="blank">terms of service</a>.'), id='agree', value='1' if data.agree else '0', error=errors.agree, is_required=true) }}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            agr = jQuery("#agree");
            if (agr.val() == '1') { agr.prop('checked', true) }

            jQuery(document).on("submit", "form", function(e) {
                if (!agr.prop('checked')) {
                    e.preventDefault();
                    jQuery("label.checkbox").append('<span id="agree_warning" class="control-required">Please agree to the terms of service.</span>')
                    alert('Please agree to the terms of service.');
                    return false;
                }
            });

            jQuery(document).on("click", agr, function(e) {
                if (agr.prop('checked')) {
                    $("button[name='save']").attr('disabled', false);
                    agr.val('1')
                } else {
                    agr.val('0')
                }
            });

            $('.js-example-basic-multiple').select2();

        });
    </script>

</fieldset>


{% endblock %}

{% block package_metadata_fields_url %}
{% endblock %}
{% block package_metadata_fields_version %}
{% endblock %}



