{% ckan_extends %}

{% block package_metadata_author %}
</fieldset>
<fieldset>
  <legend>Responsibilities</legend>
    {{ form.input('author', label=_('Author(s)'), id='field-author', placeholder=_('Firstname Lastname of author'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('erika.mustermann@dainst.de (currently only one E-mail address supported!)'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
    {{ form.input('orcid_id', label=_('Author(s) ORCID ID(s)'), id='field-orcid_id', placeholder=_('0000-0002-4087-4023; 0000-0002-4087-4024 | Divided by semicolon'), value=data.orcid_id, error=errors.orcid_id, classes=['control-medium']) }}
    {{ form.input('contributor', label=_('Contributor'), id='field-contributor', placeholder=_('Firstname Lastname of person who contributed to this work'), value=data.contributor, error=errors.contributor, classes=['control-medium']) }} 
    {{ form.input('contributor_orcid_id', label=_('Contributor(s) ORCID ID(s)'), id='field-contributor_orcid_id', placeholder=_('0000-0002-4087-4023; 0000-0002-4087-4024 | Divided by semicolon'), value=data.contributor_orcid_id, error=errors.contributor_orcid_id, classes=['control-medium']) }}

    <hr>
    {{ form.input('ror_id', label=_('ROR ID (of organization)'), id='field-ror_id', placeholder=_('https://ror.org/041qv0h25'), value=data.ror_id, error=errors.ror_id, classes=['control-medium']) }}
    {% endblock %}

    {% block package_metadata_fields_maintainer %}
<hr>
    {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Firstname Lastname of person that maintains this dataset'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

      {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('max.mustermannk@dainst.de (currently only one E-mail address supported!)'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}

    {% endblock %}

    {% block custom_fields %}
<hr>
    {{ form.input('publisher', label=_('Publisher'), id='field-publisher', placeholder=_('DAI or other publishing house'), value=data.publisher, error=errors.publisher, classes=['control-medium']) }}
    {{ form.checkbox('agree', label=_('I have read and agree to the <a href="/participate" target="blank">terms of service</a>.'), id='agree', value='1' if data.agree else '0', error=errors.agree, is_required=true) }}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            agr = jQuery("#agree");
            if (agr.val() == '1') { agr.prop('checked', true) }

            jQuery(document).on("submit", "form", function(e) {
                if (!agr.prop('checked')) {
                    e.preventDefault();
                    jQuery("label.checkbox").append('<span id="agree_warning" class="control-required">Please agree to the terms of service.</span>')
                    alert('Please agree to the terms of service.');
                    return false;
                }
            });

            jQuery(document).on("click", agr, function(e) {
                if (agr.prop('checked')) {
                    $("button[name='save']").attr('disabled', false);
                    agr.val('1')
                } else {
                    agr.val('0')
                }
            });

        });
    </script>

</fieldset>


{% endblock %}

{% block package_metadata_fields_url %}
{% endblock %}
{% block package_metadata_fields_version %}
{% endblock %}



