<div id="dsgvo_accept" style="background-color: #E6E2E2;position: fixed;bottom: 0;left: 0;width: 100%;padding: 15px;z-index: 11000;" class="bg-info">
  <button class="btn" onclick="IDaiCookieNotice()" style="float:right;">accept</button>
  <p style="max-width:80%">
    This website uses cookies.
    By continuing to use the website, you agree to the use of cookies. For more information on cookies, please see our 
    <a href="http://www.dainst.org/de/datenschutz" target="_blank">privacy policy</a>.
  </p>
</div>


<script>
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function IDaiCookieNotice(){
        setCookie("cookie_accepted", true, 365);
        hide_bar();
  }

  function hide_bar() {
    let accepted = getCookie("cookie_accepted");
    if (accepted != "") {
      let bar = document.getElementById("dsgvo_accept")
      bar.style.display = "none"
    }
  }

  hide_bar();

</script>

<footer class="site-footer mt-5">

  
  <div class="div decoration-bg-blue">

    <div class="p-5" style="background-color: #6d8dbd;">
      <div class="container">
        {% block footer_content %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4 attribution">
            {% block footer_lang %}
              {% snippet "snippets/language_selector.html" %}
            {% endblock %}
          </div>
          <div class="col-md-4 footer-links">
            {% block footer_nav %}
              <ul class="list-unstyled d-flex justify-content-center mt-3">
                {% block footer_links %}
                  <li><a href="/"  class="text-white  p-1">{{ _('Home') }}</a></li>
                {% endblock %}
                {% block footer_links_ckan %}
                  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                  <li><a href="/dataset/" class="text-white p-1">{{_("Datasets")}}</a></li>
                  <li><a href="/organisation/" class="text-white p-1">{{_("Organisations")}}</a></li>
                  <li><a href="/help/" class="text-white p-1">{{_("Help")}}</a></li> 
                  <li><a href="https://idai.world/" class="text-white p-1">idai.world</a></li>
                {% endblock %}
              </ul>
            {% endblock %}
          </div>
          <div class="col-md-2"></div>
        </div>
        {% endblock %}
      </div>
    </div>

  <div class="p-5" style="background-color: #5882c2;">
    <div class="container text-center">

      <img alt="DAI" src="https://idai.world/assets/images/content/footer/idai_footer.png"></div>
      <div class="container d-flex text-center mt-5">
        <p class="col"><span class="text-white">iDAI.repo is a service of the German Archaeological Institute.</span></p>
        <p class="col"><span class="text-white"><a href="https://www.dainst.org/en/datenschutz" target="_blank">Data Protection Regulation</a></span></p>
        <p class="col"><span class="text-white"><a href="https://idai.world/why/contact">Legal notice</a></span></p>
    
    </div>
  </div>

</footer>
