{% ckan_extends %}

    {% block header_site_navigation_tabs %}
    {% set org_type = h.default_group_type('organization') %}
    {% set group_type = h.default_group_type('group') %}

    {{ h.build_nav_main(
    ('dataset.search', _('Datasets'), ["dataset", "resource"]),
    (org_type ~ '.index',
    h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
    (group_type ~ '.index',
    h.humanize_entity_type('group_type', group_type, 'main nav') or _('Groups'), ['group']),
    ('cuprit.render_about_custom_page', _('Participate')) ) }}
    {% endblock %}
