{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=180) %}



<li class="cards_item">
  <div class="card">
    <!-- <div class="card_image"><img src="https://idai.world/assets/images/content/banner-libraries.jpg"></div> -->
    <div class="card_content">
      <h2 class="card_title">{{ h.link_to(title|truncate(80), h.url_for('%s.read' % package.type, id=package.name)) }}</h2>
      <div class="card_text">
        {% block notes %}
                  {% if notes %}
                  <p>{{ notes|urlize }}</p>
                  {% else %}
                    <p>{{ _("This dataset has no description") }}</p>
                  {% endif %}
          {% endblock %}


        </div>
      <button class="btn card_btn" onclick="window.location.href='{{ h.url_for('%s.read' % package.type, id=package.name) }}'">Read More</button>
      <div class="card_tag-container">
      {% for tag in package.tags %}
        <small class="badge">{{ tag['display_name'] }}</small>
      {% endfor %}
    </div>

    </div>
</li>
